.cruiser {
  position: relative;
  background-color: var(--dark);
  padding-inline-start: 24px;
  padding-inline-end: 24px;
  margin-block-end: 225px;
}

.cruiser-img img {
  padding-block-start: 80px;
}

.cruiser-img {
  margin-block-start: 40px;
  position: relative;
  margin-block-end: 0;
  margin-block-start: -225px;
}

.cruiser-content h2 {
  position: relative;
  margin-block-start: -30px;
  color: var(--white);
  text-transform: uppercase;
  font: var(--headline1);
}

.cruiser-content img {
  margin-block-start: 30px;
}

.cruiser-content p {
  color: var(--white);
  font: var(--navfont);
}

/* .cruiser-content a {
  text-decoration: none;
  font: var(--navfont);
  color: var(--yellow);
} */

.show-more {
  display: flex;
  flex-direction: row;
  font: var(--body1bold);
  align-self: center;
  gap: 16px;
}

.show-more a {
  text-decoration: none;
  color: var(--yellow);
}

.show-more img {
  margin: 0;
  align-self: center;
}