.header {
  background-image: url('../images/MG.png');
  background-size: cover;
  margin-block-start: 24px;
  margin-block-end: 24px;
}

.header .logo {
  text-align: center;
}

.header-title {
  border: 1px solid red;
  font: var(--headline1);
  color: var(--dark);
  padding-inline-start: 24px;
  padding-inline-end: 24px;
  padding-block-start: 24px;
  padding-block-end: 24px;
}