@import "./header.css";
@import "./content.css";
@import "./curiser.css";
:root {
  --fontBase: 'Poppins', sans-serif;
  --headline1: normal 24px/36px var(--fontBase);
  --headline2: bold 32px/56px var(--fontBase);
  --titleHeader: normal 88px/100px var(--fontBase);
  --body1bold: bold 18px/32px var(--fontBase);
  --body1medium: normal 18px/32px var(--fontBase);
  --body1regular: 18px/32px var(--fontBase);
  --button: bold 18px/27px var(--fontBase);
  --navfont: bold 16px/24px var(--fontBase);
  --yellow: #FDD130;
  --dark: #0B1D26;
  --white: #ffffff;
}

/* html {
  margin: 0;
} */

body {
  margin: 0;
  padding: 0;
  font: var(--fontBase);
}