@import "./header.css";
@import "./nav.css";
:root {
  --fontBase: 'Poppins', sans-serif;
  --headline1: normal 20px/36px var(--fontBase);
  --headline2: 64px/96px var(--fontBase);
  --body1bold: bold 18px/32px var(--fontBase);
  --body1medium: normal 18px/32px var(--fontBase);
  --body1regular: 18px/32px var(--fontBase);
  --button: bold 18px/27px var(--fontBase);
  --yellow: #FDD130;
  --dark: #0B1D26;
  --white: #ffffff;
}

html h1 {
  margin: 0;
}

body {
  margin: 0;
  font: var(--fontBase);
}