.nav {
  border: 1px solid red;
  margin-block-end: 40px;
  margin-block-start: 24px;
}

.nav li a {
  text-decoration: none;
}

.nav ul {
  display: flex;
  flex-direction: row;
  gap: 39px;
  list-style: none;
  padding-inline-start: 24px;
  padding-inline-end: 24px;
  padding-inline-start: 24px;
  padding-inline-end: 24px;
  /* padding: 24px; */
}